@model DemoGH_OnTap.Models.Account // Thay YourNamespace.User bằng tên namespace và tên lớp của đối tượng User

<h1>Deleted User Details</h1>
<p>Username: @Model.UserName</p>
<p>Password: @Model.Password</p>
<p>Email: @Model.Email</p>

<!-- Hiển thị các thông tin khác của đối tượng User -->