@{
    ViewBag.Tile = "login";
}
@if(TempData["Status"]!= null){
    <div class= "alert alert-success">
        @TempData ["Status"];
    </div>

}
<div class="row justify-content-center mt-5">
    <div class="col-md-6">
        <form asp-action="Login" method="post" class="border p-4">
            <div class="form-group">
                <label for="UserName">Username:</label>
                <input type="text" id="UserName" name="UserName" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="Password">Password:</label>
                <input type="password" id="Password" name="Password" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
            <a asp-controller="Account" asp-action="DangKy" class="btn btn-secondary">Đăng Ký</a>
        </form>
    </div>
</div>
